<h1>Todos</h1>
{{ view Ember.TextField id="new-todo" placeholder="何をする？" valueBinding="newContent"}}
<button {{action 'createTodo'}}>登録する</button>
<ul>
{{#each controller itemController="todo"}}
    <li {{bindAttr class="isCompleted:completed isEditing:editing"}}>
        {{#if isEditing}}
            {{view EmberRailsExample.EditTodoView valueBinding="content.content"}}
        {{else}}
            <label {{action "editTodo" on="doubleClick"}}>{{content.content}}</label>
            <button {{action "removeTodo"}} class="destroy">削除</button>
        {{/if}}
    </li>
{{else}}
    <li>まだありません。</li>
{{/each}}
</ul>

{{outlet}}
